.highlight.person{
	background-color: #FFFF00;
}

.highlight.location{
	background-color: #B8860B;
}

.highlight.organization{
	background-color: #FF00FF;
}

.highlight.money{
	background-color: #32CD32;
}

.highlight.miscellanea{
	background-color: #FFBF00;
}

.highlight.phone{
	background-color: #A9A9F5;
}

.highlight.interesting{
	background-color: #FF6347;
}

.highlight.date{
	background-color: #00CED1;
}

.other{
	background-color: #f2a6df;
}

.unused{
	background-color: #4B0082;
}

.btn-sm{
	white-space:nowrap;
	top: 0px;
	border-radius: 5px;
  	position: relative;
  	cursor: pointer;
  	transition: 0.1s all ease;
  	font-size : 11px;
  	font-weight: 400;
  	font-family: 'Roboto', sans-serif;
  	color: #5c5c5c;  /*777*/
  	border-bottom: 1.5px solid #ccc;
  	box-shadow: 0px 0px 0px 0px #e6e6e6;

}

.submit{
	float: right;
}

/***

#hide{
	position: relative;
	padding: 6px 10px;   //23
	margin: 0px 10px 10px 0px;
	float: left;
	border-radius: 10px;
	font-family: 'Helvetica', cursive;
	font-size: 12px;
	color: #FFF;
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.toggleAllHighlight{
	position: relative;
	padding: 6px 7px;  //20px
	margin: 2px 10px 2px 0px;
	float: left;
	border-radius: 10px;
	font-family: 'Helvetica', cursive;
	font-size: 12px;
	color: #FFF;
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

***/
