.link {
	stroke: #ccc;
}

.node text {
	pointer-events: none;
	font: 10px sans-serif;
	fill: black;
}

.node_selected circle{
	stroke: #ff7f0e;
	stroke-width: 6;
}

.link_selected line{
	stroke: #ff7f0e;
	stroke-width: 6;
}

.link_hover line{
	stroke: red;
	stroke-width: 6;
}

.Person{
	fill: #cccc33;
}

.Location{
	fill: #cc99ff;
}

.Organization{
	fill: #ffb3b3;
}

.Money{
	fill: #47cc47;
}

.Misc{
	fill: #FF7355;
}

.Phone{
	fill: #A9A9F5;
}

.Interesting{
	fill: #F9A750;
}

.Date{
	fill: #80dfff;
}

.zoom{
	position: relative;
}
*{
	font-size: 15px;
}

#new-link-btn{
	margin-top: 10px;
	margin-left: 10px;
}

.zoom-btn{
	margin-top: 10px;
}

.zoom{
	margin-top: 5px;
	margin-left: 10px;
	width: 30px;
	background-color: #f2f2f2;
}

#graph-editor{
	min-height:700px;
	overflow: auto;
}
