.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
  fill: black;
}


.node_selected{
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

.link_selected line{
	stroke: #ff7f0e;
	stroke-width: 6;
}

.Person{
	fill: #FFFF00;
}

.Location{
	fill: #B8860B;
}

.Organization{
	fill: #FF00FF;
}

.Money{
	fill: #32CD32;
}

.Misc{
	fill: #FFBF00;
}

.Phone{
	fill: #A9A9F5;
}

.Interesting{
	fill: #FF6347;
}

.Date{
	fill: #00CED1;
}

.zoom{
	position: relative;
}
*{
	font-size: 15px;
}

#new-link-btn{
	margin-top: 10px;
	margin-left: 10px;
}

.zoom-btn{
	margin-top: 10px;
}

.zoom{
	margin-top: 5px;
	margin-left: 10px;
	width: 30px;
	background-color: #f2f2f2;
}

#graph-editor{
	min-height:700px;
	overflow: auto;
}
