body{
	margin-top: 10px;
}

.highlight.Person{
	background-color: #d9b8f1;
}

.highlight.Location{
	background-color: #BDC03F;
}

.highlight.Organization{
	background-color: #ffe543;
}

.highlight.Money{
	background-color: #FF9B14;
}

.highlight.Misc{
	background-color: #F69AC1;
}

.highlight.Phone{
	background-color: #8EB4FF;
}

.highlight.Interesting{
	background-color: #f1f1b8;
}

.Date.highlight{
	background-color: #67E1D8;
}

.highlight.Other{
	background-color: #EFE4D7;
}

.unused{
	background-color: #4B0082;
}

button.unchecked{
	background-color: transparent;
}

#legend{
	margin: 10px;
}

button span{
	width: 20px;
}

em, button.category{
	cursor: pointer;
	border-radius: 6px;
	padding: 2px;
	box-shadow: 2px 2px 2px #888888;
}

.btn-sm{
	white-space:nowrap;
	top: 0px;
	border-radius: 5px;
  	position: relative;
  	cursor: pointer;
  	transition: 0.1s all ease;
  	font-size : 11px;
  	font-weight: 400;
  	font-family: 'Roboto', sans-serif;
  	color: #5c5c5c;  /*777*/
  	border-bottom: 1.5px solid #ccc;
  	box-shadow: 0px 0px 0px 0px #e6e6e6;

}

.inline{
	display:inline;
	/*white-space: nowrap;*/
}

.submit{
	float: right;
}

#node1{
	width: 350px;
	margin-left: 5px;
	margin-right: 15px;
	margin-bottom: 10px;
}

#node2{
	width: 350px;
	margin-left: 5px;
	margin-bottom: 10px;
}
#newNote{
	width: 300px;
	margin-left: 5px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.toggle-highlight{
	margin-bottom:5px;
}

input{
	margin-left: 10px;
}
/*
button.category{
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    border: 2px solid black;
    vertical-align: text-bottom;
}
*/
#container {
	height: 100%; 
	width:100%;
	font-size: 0px;
}

#zoom-btn,#graph-editor{
	display: inline-block; 
	*display: inline; 
	zoom: 1; 
	vertical-align: top;
	font-size:20px;
}
#zoom-btn{
	width: 10%;
}

#graph-editor{
	width: 90%;
}

#impSlider{
	width: 300px;
	display: inline;
}

#importance-rating{
	vertical-align: middle;
}

#importance{
	position: relative;
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.extrememark{
	font-size: 12px;
	margin:0;
}

#slide-container{
	display:inline-block;
	margin-left: 5%;
}
/***

#impOption{
	margin: 5px;
	margin-right: 30px;
}
#hide{
	position: relative;
	padding: 6px 10px;   //23
	margin: 0px 10px 10px 0px;
	float: left;
	border-radius: 10px;
	font-family: 'Helvetica', cursive;
	font-size: 12px;
	color: #FFF;
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.toggleAllHighlight{
	position: relative;
	padding: 6px 7px;  //20px
	margin: 2px 10px 2px 0px;
	float: left;
	border-radius: 10px;
	font-family: 'Helvetica', cursive;
	font-size: 12px;
	color: #FFF;
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

***/